

.image1{
    position:absolute;
    left:20%;
}
.image2 {
    position: absolute;
    left: 50%;
}
image1:hover{
    background-color:black;
    width:300px;
    height:300px;
}

div.position
{
	margin-right:400px;
}


